.header {
    width: 100%;
    height: 12.5rem;
    background: var(--gray-700);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 5.687rem;
}

.header form {
    width: 46rem;
    height: 3.375rem;
    position: absolute;
    bottom: calc(-3.375rem / 2);
    display: flex;
    gap: 0.5rem;
}

.header form input {
    flex: 1;
    border-radius: 0.5rem;
    background: var(--gray-500);
    border: none;
    padding: 1rem;
    color: var(--gray-300);
}

.header form input::placeholder {
    color: var(--gray-300);
}

.buttonCreate{
    width: 5.625rem;
    min-height: 3.25rem;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--gray-100);
    background: var(--blue-dark);
    font-weight: bold;

    transition: background-color 0.2s;

    
}

.buttonCreate:hover {
    background: var(--blue-light);
}
