.task {
    width: 100%;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.562rem;
    background: var(--gray-500);
    padding: 1rem;
    border-radius: 0.5rem;
}

.task + .task {
    margin-top: 0.75rem;
}

.task p {
    flex: 1;
}

.task button {
    background: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
}

.task button:first-child {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 auto;
    border-radius: 0.25rem;
}

.task button:first-child > div {
    width: 100%;
    height: 100%;
    color: var(--blue-light);
    border: 1px solid var(--blue-light);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.task button:last-child {
    color: var(--gray-300);

    transition: background-color 0.2s;
}

.task button:last-child:hover {
    color: var(--danger);
    background: var(--gray-400);
}

.checked {
    text-decoration: line-through;
    color: var(--gray-300);
}

.notChecked {
    background: var(--purple-light);
    border: 1px solid var(--purple-light);
}

.buttonChecked {
    color: var(--gray-100);
}